<div id="purple" class="min-vh-100 deep-purple accent-4 black-text">
    <div class="text-center col-10 offset-1  py-5">
    <div id="grey" class="deep-purple lighten-5 black-text rounded mb-0"> 
        
        <form class="text-center col-md-12 d-inline-block" #myForm3="ngForm" (ngSubmit)="changePwd(pseudo.value, mdp.value, mdpconf.value)">
           <p class="h4 mb-4"  text-color="white">Changement du mot de passe</p>
            <!--[(ngModel)]="user.pseudo"-->
           <input type="text" id="defaultLoginFormPseu" class=" mx-auto form-control w-25 my-4" placeholder="Pseudo" #pseudo>
            <!--[(ngModel)]="user.password"-->
           <input type="password" id="defaultLoginFormPassword" class=" mx-auto form-control w-25 my-4" placeholder="Nouveau mot de passe" #mdp>
            <!--[(ngModel)]="user.confPassword"-->
           <input type="password" id="defaultLoginFormConfPassword" class=" mx-auto form-control w-25 my-4" placeholder="Confirmer mot de passe" #mdpconf>

           <span id="erreur" style="color:red;" *ngIf="errorMessage">{{errorMessage}}</span>

            <!--(click)="changePwd()"-->
           <button mdbBtn color="deep-purple" block="true"  class="mx-auto w-25 my-3" type="submit" size="60px">Confirmer</button>
        </form> 

    </div>
    </div>
</div>
