<div class=" deep-purple accent-4 min-vh-100">
    <div class="row col-10 offset-1 py-5">
      <div class="col-3"></div>
      <div class="col-10 offset-1">
        <form class="rounded mb-0 text-center border border-light p-5 deep-purple lighten-5" #myForm="ngForm" (ngSubmit)="ajouter(titre.value, contenu.value)">
          <p class="h1 mb-4 font-weight-bold"><u>Ajouter un article</u></p>
          <!-- Titre -->
          <input type="text"
                 id="titre"
                 mdbInput
                 class="form-control mb-4"
                 placeholder="Titre de l'article"
                 #titre>
          
          <!-- Message -->
          <div class="form-group">
            <textarea
              #contenu
              class="form-control rounded-0"
              mdbInput
              id="contenu"
              rows="10"
              placeholder="Votre article ici">
            </textarea>
          </div>
          <!-- Send button -->
          <button mdbBtn
                  type="submit"
                  
                  outline="true"
                  block="true"
                  class="z-depth-0 my-4 waves-effect deep-purple accent-4 white-text"
                  mdbWavesEffect type="submit" ><mdb-icon far icon="paper-plane"></mdb-icon> Envoyer</button>
        </form>
      </div>
    </div>
  </div>
  