<div class="min-vh-100 deep-purple accent-4 black-text">
    <div class="text-center col-10 offset-1  py-5">
        <div class="deep-purple lighten-5 black-text rounded mb-0 ">
            <h1 class="font-weight-bold"><u>Vos articles</u></h1>
            <br>
            <div class="row"> 
                <div class="col-12"  >
                    <div *ngFor="let article of articles">


                    <mdb-card class="w-75 mx-auto" >
                        <div class="view overlay waves-light" mdbWavesEffect>
                        <!--Card content-->
                        <mdb-card-body class="text-center">
                            <!--Title-->
                            <mdb-card-title>
                                <h4>{{ article.titre }}</h4>
                            </mdb-card-title>
                            <!--Text-->
                            <mdb-card-text class="text-truncate w-75 mx-auto">
                                {{ article.contenu }}
                            </mdb-card-text>
                            <div class="row justify-content-between">
                                <div class="col-4 text-muted font-italic"><small>Auteur: {{ article.auteur }}</small></div>
                                <div class="col-4 text-muted font-italic"><small>Date: {{ article.date }}</small></div>
                            </div>
                            <div class="row justify-content-around" >
                                <a routerLink="/article/{{article.id}}" routerLinkActive="active" mdbBtn class="deep-purple accent-4 white-text col-3" mdbWavesEffect>Modifier</a>
                                <button mdbBtn class="deep-purple accent-4 white-text col-3" mdbWavesEffect (click)="delete(article)">Supprimer</button>
                            </div>
                            </mdb-card-body>
                        </div>
                    </mdb-card>
                    <br>
                    </div>
                    <hr>
                    <br>
                    <!--Card d'ajout d'article-->
                    <mdb-card class="w-50 mx-auto" >
                        <div class="view overlay waves-light" mdbWavesEffect>
                        <!--Card content-->
                        <mdb-card-body class="text-center">
                            <!--Title-->
                            
                            <!--Text-->
                            <mdb-card-text class="w-75 mx-auto">
                                <a routerLink="/ajoutArticle" routerLinkActive="active" mdbBtn class="deep-purple accent-4 white-text" mdbWavesEffect>Ajouter un nouvel article</a>
                            </mdb-card-text>
                        </mdb-card-body>
                        </div>
                    </mdb-card>

                </div>
            </div> 
            <br>
        </div>
    </div>
</div>
