
<div class="min-vh-100 deep-purple accent-4 black-text">
    <div class="text-center col-10 offset-1  py-5">
        <div class="deep-purple lighten-5 black-text rounded mb-0 ">
            <div *ngIf="!cookieValue">
            <h1 class="font-weight-bold"><u>{{ articleToDisplay?.titre }}</u></h1>
            <br>
            <p class="text-justify w-75 mx-auto">{{ articleToDisplay?.contenu }}</p>
                <div class="row justify-content-between">
                    <div class="col ml-3"><Button mdbBtn class="deep-purple accent-4 white-text" (click)="changeLike()">{{textLike}}</Button></div>
                    
                    <div class="col mr-3"><blockquote class="blockquote text-right">Ecrit par {{ articleToDisplay?.auteur }} le {{ articleToDisplay?.date }}</blockquote></div>
                </div> 
            </div>
            <div *ngIf="cookieValue">
            
            <form class="deep-purple lighten-5 black-text rounded mb-0 text-center col-md-12 d-inline-block" #myForm2="ngForm" (ngSubmit)="saveChanges(tit.value, cont.value); tit.value=''; cont.value='';">
                <h1 class="font-weight-bold"><u>Editer votre article</u></h1>
                <label for="titre"><h4>Titre de l'article</h4></label>
                <input #tit id="titre" type="text" value="{{ articleToDisplay?.titre }}" class="text-justify w-75 mx-auto form-control">
                <br>
                <label for="contenu"><h4>Contenu</h4></label>
                <textarea #cont id="contenu" class="text-justify w-75 mx-auto form-control" rows="20">{{ articleToDisplay?.contenu }}</textarea>
                      
                <hr>
                <button mdbBtn block="true" class="mb-5 mx-auto w-25 my-3 deep-purple accent-4 white-text" type="submit" >Sauver les modifications</button>
            </form>
  
            </div>
            <hr>
            <dl  >
                <div class="row" *ngFor="let commente of articleToDisplay?.comments">
                <dt class="col-3">{{ commente?.user }}</dt>
                <dd class="col-9 text-left">{{ commente?.commentaire }}</dd>
                </div>
            
                <div class ="row" *ngFor="let comment of comments">
                <dt class="col-3">{{ comment.user }}</dt>
                <dd class="col-9 text-left" >{{ comment.comment }}</dd>
                </div>
            </dl>


            <textarea class="form-control w-75 mx-auto" placeholder="Votre commentaire" rows="2" [(ngModel)]="commentToAdd.comment"></textarea>
            <div class="col-4 mx-auto"><Button mdbBtn class="deep-purple accent-4 white-text" (click)="addComment()">Envoyer ✉️</Button></div>
            <br>
            
        </div>

        
    </div>
</div>

