<div id="purple" class="min-vh-100 deep-purple accent-4 black-text">
<div class="text-center col-10 offset-1  py-5">
    <div id="grey" class="deep-purple lighten-5 black-text rounded mb-0"> 
    
    <form class="text-center col-md-12 d-inline-block" #myForm="ngForm" (ngSubmit)="signin(pseudo.value, mdp.value)">
        <h1 class="text-center mb-5 font-weight-bold" text-color="black"><u>Sidelmitas 2.0</u></h1>
        <p class="h4 mb-4"  text-color="white">Connexion</p>
      
        <!-- Email -->
        <input type="text" id="defaultLoginFormPseudo" class=" mx-auto form-control w-25 my-4" placeholder="Pseudo" #pseudo>
      
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class=" mx-auto form-control w-25 my-4" placeholder="Mot de passe" #mdp>
      
        <div class="d-flex justify-content-around">
      
          <div>
           
            <!-- Forgot password -->
            <a routerLink="/mdpOublie" routerLinkActive="active">Mot de passe oublié?</a>
          </div>
        </div>
      
        <span id="erreur" style="color:red;" *ngIf="errorMessage">{{errorMessage}}</span>

        <!-- Sign in button -->
        <button mdbBtn color="deep-purple" block="true"  class="mx-auto w-25 my-3" type="submit" size="60px" >Connexion</button>
        
        
      
        <!-- Register -->
        <p>Pas encore inscrit?
          <a routerLink="/inscription" routerLinkActive="active">S'inscrire</a>
        </p>
      
      </form>
      
      </div>
    </div>
</div>
      <!-- Default form login -->