<!--Navbar-->
<mdb-navbar  SideClass="navbar navbar-expand-lg navbar-dark deep-purple darken-4" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand white-text" >Sidelmitas 2.0</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/listeArticle" routerLinkActive="active">Tous les articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/listeArticle/mesArticles" routerLinkActive="active">Mes articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/ajoutArticle" routerLinkActive="active">Nouvel article</a>
        </li> 
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                
                <a class="dropdown-item" (click)="deconect()">Se déconnecter</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
<router-outlet></router-outlet>
    