<div id="purple" class="min-vh-100 deep-purple accent-4 black-text ">
<div class="text-center col-10 offset-1  py-5">
    <div id="grey" class="deep-purple lighten-5 black-text rounded mb-0"> 
  
  <form class="text-center col-md-12 d-inline-block" #myForm1="ngForm" (ngSubmit)="saveAccount(pseudo.value, email.value, mdp.value, mdpconf.value); pseudo.value=''; email.value=''; mdp.value=''; mdpconf.value=''">
      
      
      <p class="h4 mb-4" text-color="white">Inscription</p>
    
      <!-- Pseudo -->
      <input #pseudo type="text" id="defaultRegisterFormPseudo" class=" mx-auto form-control w-25 my-4" placeholder="Pseudo" >
  
      <!-- E-mail -->
      <input #email type="email" id="defaultRegisterFormEmail" class=" mx-auto form-control w-25 my-4" placeholder="E-mail" >
  
      <!-- Password -->
      <input #mdp type="password" id="defaultRegisterFormPassword" class=" mx-auto form-control w-25 my-4" placeholder="Mot de Passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">
      
      <!-- Confirm Password -->
      <input type="password" id="defaultRegisterFormConfirmPassword" class=" mx-auto form-control w-25 my-4" placeholder="Confirmer mot de Passe" #mdpconf>
      
      <span id="erreur" style="color:red;" *ngIf="errorMessage">{{errorMessage}}</span>

      <!-- Sign up button -->
      <button mdbBtn block="true" class="mb-5 mx-auto w-25 my-3 deep-purple accent-4 white-text" type="submit" size="60px" >S'enregistrer</button>
    
    </form>
  </div>
</div>
</div>
      